<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094040548294-umk3dt56v7oah3tdcfo4f1tu3c2tbf3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094040548294-umk3dt56v7oah3tdcfo4f1tu3c2tbf3q</string>
	<key>API_KEY</key>
	<string>AIzaSyA7tOT-PtvNYs2PHtLX48xauGupKv85_HU</string>
	<key>GCM_SENDER_ID</key>
	<string>1094040548294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theVisiualBook.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-visual-book</string>
	<key>STORAGE_BUCKET</key>
	<string>the-visual-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094040548294:ios:12d6205db774d3a59238c7</string>
</dict>
</plist>